<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redbolt.connect4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/connect_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/connect_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.redbolt.connect4.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.redbolt.connect4.gameActivity" />

    </application>

</manifest>